<mat-card class="mx-auto p-4 w-6/12">
  <div class="container">
    <h2>Add New Shipment</h2>

    <form [formGroup]="addShipmentForm" (ngSubmit)="onSubmit()">

      <!-- Shipment ID -->
      <mat-form-field appearance="fill">
        <mat-label>Shipment ID</mat-label>
        <input matInput formControlName="shipmentId" required />
      </mat-form-field>

      <!-- Origin -->
      <mat-form-field appearance="fill">
        <mat-label>Origin</mat-label>
        <input matInput formControlName="shipmentOrigin" placeholder="City, Country" required />
      </mat-form-field>

      <!-- Destination -->
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="shipmentDestination" placeholder="City, Country" required />
      </mat-form-field>

      <!-- Shipment Status -->
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="shipmentStatus" required>
          <mat-option value="Item Picked">Item Picked</mat-option>
          <mat-option value="In Transit">In Transit</mat-option>
          <mat-option value="Out for Delivery">Out for Delivery</mat-option>
          <mat-option value="Delivered">Delivered</mat-option>
          <mat-option value="Cancelled">Cancelled</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Estimated Delivery Date -->
      <mat-form-field appearance="fill">
        <mat-label>Estimated Delivery Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="estimatedDeliverydate" required />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- User ID -->
      <mat-form-field appearance="fill">
        <mat-label>User ID</mat-label>
        <input matInput formControlName="userId" required />
      </mat-form-field>

      <!-- Driver ID -->
      <mat-form-field appearance="fill">
        <mat-label>Driver ID</mat-label>
        <input matInput formControlName="driverId" required />
      </mat-form-field>

      <!-- lattitude -->
      <mat-form-field appearance="fill">
        <mat-label>lattitude</mat-label>
        <input matInput formControlName="lattitude" />
      </mat-form-field>

      <!-- Longitude -->
      <mat-form-field appearance="fill">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitude" />
      </mat-form-field>

      <div class="flex justify-center">
        <button
          mat-raised-button
          class="bg-blue-600 rounded-sm shadow-md w-96! text-white! p-2"
          type="submit"
          [disabled]="addShipmentForm.invalid"
        >
          Add Shipment
        </button>
      </div>

    </form>
  </div>
</mat-card>
